

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
    /* outline: black; */
}



header {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	padding: 0 2rem;
	background-color: #f2f2f2;
	color: black;
	position:fixed;
	z-index: 100;
	width: 100%;
}

nav a {
	margin: 0 1rem;
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: grey
}

header .nav-btn {
	padding: 5px 10px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: black;
	visibility: hidden;
	opacity: 0;
	font-size: 20px;
}

header div,
nav {
	display: flex;
    width: fit-content;
    /* margin: auto; */
	align-items: center;
    /* justify-content: center; */
}
nav{
    margin: auto;
}

.blackDot{
    background-color: rgb(101, 101, 101);
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

.lodo{
    font-size: larger;
    width: fit-content;
}
.navIcons{
    display: flex;
    gap: 20px;
    width: fit-content;
    font-size: 20px;
}
.logo{
	height: 50px;
	border-radius: 10px;
	/* border: 1px solid blue; */
	/* padding: -5px; */
}

.beforeSearch{
	border-radius: 10px;
	width: 0px;
	font-size: small;
	padding:  10px;
	visibility: hidden;
	transition: 0.4s;
}
.navSearch{
	visibility: visible;
	width: 200px;
	transition: 0.5s;
}

@media only screen and (max-width: 1024px) {
	.logo{
		height: 30px;
	}
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -110vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: black;
        color: white;
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(110vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
        color: white;
        /* background-color: aliceblue; */
	}

	nav a {
        color: white;
		font-size: 1.5rem;
	}
}